# files dir
www/files

# local settings.local.php
www/settings.local.php

# Backups.
*.gz
*.zip
*.sql
*.sql.gz
*.tgz
*.tar
*.tar.gz

# Ignore development modules
www/modules/contrib/devel

# Ignore env vars.
.env
