/*******************************************************************************
 * components-views.scss
 *
 * Contains styles for views components.
 ******************************************************************************/

/******************************************************************************
 * Categories view
 ******************************************************************************/
.view-categories .views-field-nid,
.view-categories .views-field-cid,
.view-categories .views-field-last-comment {
  display: none;
}

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .view-categories .views-field-last-comment {
    display: table-cell;
    white-space: nowrap;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .view-categories .views-field-nid,
  .view-categories .views-field-cid {
    display: table-cell;
    font-size: 1.125rem; /* 18px */
  }
  .view-categories .views-field-name a {
    font-size: 1.125rem; /* 18px */
  }
  .view-categories .views-field-name p {
    font-style: italic;
    margin-top: 0.25em;
  }
}

/******************************************************************************
 * Taxonomy view
 ******************************************************************************/
.view-taxonomy-term .views-field-subject,
.view-taxonomy-term .views-field-last-comment-timestamp {
  display: none;
}
.view-taxonomy-term .views-field-title span.accepted {
  background-color: #E5ECFF;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0 5px;
  color: #000;
}

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .view-taxonomy-term .views-field-last-comment-timestamp {
    display: table-cell;
    white-space: nowrap;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .view-taxonomy-term .views-field-subject {
    display: table-cell;
  }
}

/******************************************************************************
 * Recent views
 ******************************************************************************/
.view-recent-comments h4,
.view-recent-topics h4 {
  margin: .25em 0;
  font-weight: 400;
}
.view-recent-comments .views-row,
.view-recent-topics .views-row {
  padding: 10px 0;
  border-bottom: 1px solid #E8E6E5;
  margin-bottom: 10px;
}
.view-recent-comments h4 {
  margin-top: .5em;
}
.view-recent-comments p {
  margin-top: 0;
}

.l-bottom-inner .view-recent-comments .views-row,
.l-bottom-inner .view-recent-topics .views-row {
  background-color: #ffffff; 
  padding: 15px;
  border: 1px solid #E8E6E5;
  margin-bottom: 15px;
}
.l-bottom-inner .view-recent-comments .views-row {
  border-radius: 15px;
}
.l-bottom-inner .view-recent-comments h4,
.l-bottom-inner .view-recent-topics h4 {
  margin: .75em 0;
}

/******************************************************************************
 * Helpful answers view -  block
 ******************************************************************************/
.block-views-helpful-answer-block {
  padding: 10px 20px;
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 656px;
}
.block-views-helpful-answer-block .views-row {
  padding: 20px;
  background-color: #f7f7f7;
  margin-top: 15px;
}
.block-views-helpful-answer-block h3 {
  margin-top: 0;
}
.block-views-accepted-answer-block {
  padding: 20px;
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  background-color: #E5ECFF;
  margin-top: 1em;
  max-width: 656px;
}
.block-views-accepted-answer-block h2,
.block-views-helpful-answer-block h2 {
  margin-top: 0;
  margin-bottom: .5em;
}
.block-borg-forum-new-forum-button,
.block-borg-flag-notify-follow-forum-category {
  margin: 15px 0;
  text-align: center;
}


@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .block-borg-forum-new-forum-button,
  .block-borg-flag-notify-follow-forum-category {
    margin: 30px 0;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .block-borg-forum-new-forum-button,
  .block-borg-flag-notify-follow-forum-category {
    margin: 45px 0;
  }
}
