/*******************************************************************************
 * forums.scss
 *
 * Contains styles for forums.
 ******************************************************************************/

.l-top, .l-bottom, body.front .l-top, body.front .l-bottom {
  background-color: #f7f7f7;
  border-bottom: 2px solid #d7d7d7;
  border-top: 2px solid #d7d7d7;
  padding: 1.5em 0;
}
.l-top {
  margin-bottom: 50px;
  border-top: 0;
  padding: 1.5em 1em 1em 1em;
}
body.front .l-top {
  text-align: center;
  padding-bottom: 50px;
}
article.node.view-mode-full {
  text-align: left;
}
.block-system-header {
  margin-bottom: 3em;
  width: 100%;
  float: left;
}
.block-system-header h1 {
  font-size: 2em;
}
.block-system-breadcrumb li {
  margin-right: 1em;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .block-system-breadcrumb li span {
    white-space: nowrap;
  }
}
nav.header-menu {
  float: right;
}
.name-and-slogan {
  float: left;
}
.l-page-title {
  padding-top: 5px;
}
table {
  width: 100%;
}
table td {
  padding: 1em;
}
.views-table .views-field-name p {
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0;
}


/**
 * Nodes.
 */
article.node footer {
  background-color: #f7f7f7;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 55px;
  display: table;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
article.view-mode-full footer .arrow-down {
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #d7d7d7;
  position: absolute;
  bottom: -20px;
  left: 33.5px;
}
@media (min-width: 34em) { /* 544px */
  article.view-mode-full footer .arrow-down {
    left: 45px;
  }
}
article.view-mode-full footer .arrow-down:after {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f7f7f7;
  content: "";
  position: absolute;
  bottom: 2px;
  left: -20px;
}

/**
 * Comments
 */
article.comment {
  border: 2px solid #d7d7d7;
  margin-bottom: 1em;
  border-radius: 10px;
  max-width: 700px;
}
article.comment footer {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 45px;
  display: table;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
article.comment footer .arrow-down {
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid #d7d7d7;
  position: absolute;
  bottom: -20px;
  left: 55px;
}
@media (min-width: 34em) { /* 544px */
  article.comment footer .arrow-down {
    left: 45px;
  }
}
article.comment footer .arrow-down:after {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f7f7f7;
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0px;
}
article.comment footer a.permalink {
  float: right;
}
article.comment h3 {
  margin: 0;
}
article.comment .content {
  padding: 0 1em;
}
article.comment ul.links.inline {
  display: block;
  text-align: right;
  margin: 0;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-right: 1px;
}

article ul.links li {
  border-radius: 4px;
}

li.comment-add,
li.comment-reply {
  background-color: #F0F4D2;
}
li.flag-follow,
li.flag-helpful {
  background-color: #FCF9DE;
}
li.flag-abusive-post,
li.flag-abusive {
  background-color: #F9EDEC;
}
li.flag-accepted {
  background-color: #E5ECFF;
}
li.flag-faq,
li.flag-archived {
  background-color: #f7f7f7;
}

article.node footer .user-picture,
article.comment footer .user-picture {
  float: left;
  margin-right: 15px;
}
article.node footer .user-picture img,
article.comment footer .user-picture img {
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto;
}

article.node .submitted,
article.comment .submitted {
  margin: 0;
  padding: 10px 0;
}
article.comment .submitted {
  padding: 25px 0 10px 0;
}
@media (min-width: 34em) { /* 544px */
  article.node .submitted,
  article.comment .submitted {
    padding: 0;
    line-height: 40px;
    text-align: center;
  }
  article.node .has-picture .submitted,
  article.comment .has-picture .submitted {
    line-height: 100px;
  }
}

article.node-forum-topic .links li,
.forum-forbidden {
  padding: 0.5em 0.5em;
}
article.node-forum-topic ul.links {
  margin: 0;
  border-bottom: 2px solid #ccc;
  padding: 0 0 .75em 0;
  list-style-type: none;
  max-width: 700px;
}
article.node-forum-topic ul.links li {
  padding: 5px 10px;
}

.new-topic span {
  margin-top: 20px;
}
.new-topic span a.button {
  margin-right: 0;
  margin-bottom: 0;
}
.block-views-helpful-answer-block {
  padding: 20px;
  border: 2px solid #d7d7d7;
  margin-top: 1em;
}
.block-views-helpful-answer-block .views-row {
  padding: 20px;
  background-color: #f7f7f7;
  margin-top: 1em;
}
.block-views-accepted-answer-block {
  padding: 20px;
  border: 2px solid #d7d7d7;
  background-color: #E5ECFF;
  margin-top: 1em;
  max-width: 656px;
}
.block-views-accepted-answer-block h2,
.block-views-helpful-answer-block h2 {
  margin-top: 0;
  margin-bottom: .5em;
}
.block-borg-forum-new-forum-button,
.block-borg-flag-notify-follow-forum-category {
  margin-top: 20px;
  text-align: center;
}

th {
  border-bottom: 2px solid #d7d7d7;
}
tr.even,
tr.odd {
  background-color: #f7f7f7;
}
