/*******************************************************************************
 * forums.scss
 *
 * Contains styles for forums.
 ******************************************************************************/

/******************************************************************************
 * Layout overrides
 ******************************************************************************/
.l-top,
.l-bottom,
body.front .l-top,
body.front .l-bottom {
  background-color: #f7f7f7;
  border-bottom: 2px solid #E8E6E5;
  border-top: 2px solid #E8E6E5;
  padding: 1.5em 0;
}
.l-bottom,
body.front .l-bottom {
  border-bottom: 0;
}
.l-top {
  border-top: 0;
  padding: 1.5em 1em 1em 1em;
}
body.front .l-top {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  margin-bottom: 75px;
}

/******************************************************************************
 * System Header
 ******************************************************************************/
.block-system-header {
  margin: 0 auto;
}

/******************************************************************************
 * Sidebar Headings
 ******************************************************************************/
.l-sidebar h2.block-title {
  font-weight: 400; /* Normal */
}
.l-sidebar h4 {
  font-weight: 400; /* Normal */
}

/******************************************************************************
 * Bottomstuff.
 ******************************************************************************/
.l-bottom .col-sm-6 h2 {
  text-align: center;
}
.l-bottom h2.block-title {
  font-weight: 400; /* Normal */
}

/******************************************************************************
 * Home page - page title
 ******************************************************************************/
body.front .page-title {
  font-weight: 400; /* Normal */
}

/******************************************************************************
 * Home page - welcome block
 ******************************************************************************/
body.front .block-layout-custom-block h2 {
  font-size: 1.625rem;
  line-height: 1.2;
  color: #444b53; /* soft black */
  font-weight: 300; /* Light */
  margin: 0 0 1em 0;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.front .block-layout-custom-block h2 {
    font-size: 2.125rem;
    margin: .5em 0;
  }
}

/******************************************************************************
 * Views tables
 ******************************************************************************/
.views-table .views-field-name p {
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0;
}

/******************************************************************************
 * Tables
 ******************************************************************************/
table {
  border-collapse: collapse;
}
table tr.even {
  background-color: transparent;
}
table th {
  padding: 5px 15px;
}
table td {
  border-bottom: 1px solid #E8E6E5;
}

/******************************************************************************
 * Add topic button
 ******************************************************************************/
.new-topic span {
  margin-top: 20px;
}
.new-topic span a.button {
  margin-right: 0;
  margin-bottom: 0;
}

/*******************************************************************************
 * All inline links
 ******************************************************************************/
article ul.links.inline {
  text-align: left;
}
article.comment ul.links.inline {
  text-align: right;
}

/******************************************************************************
 * Comment Form
 ******************************************************************************/
.comment-form {
  max-width: 700px;
}

/******************************************************************************
 * Comment & Flag Link Colors
 ******************************************************************************/
li.comment-add a,
li.comment-reply a {
  background-color: #F0F4D2;
}
li.flag-follow a,
li.flag-helpful a {
  background-color: #FCF9DE;
}
li.flag-abusive-post a,
li.flag-abusive a {
  background-color: #F9EDEC;
}
li.flag-accepted a {
  background-color: #E5ECFF;
}

/******************************************************************************
 * Mark
 ******************************************************************************/
mark {
  background-color: #FCF9DE;
  padding: 0 5px;
}
