/*******************************************************************************
 * layout.scss
 *
 * Contains styles relating to layout. Any adjustment of margins/padding/widths,
 * etc. should be in the layouts/double_fixed/double-fixed.css file!
 ******************************************************************************/

/*******************************************************************************
 * Fix page titles
 ******************************************************************************/
.l-page-title {
  padding-top: 0;
}
.l-page-title  h1 {
  padding: 0;
}

/*******************************************************************************
 * Fix messages
 ******************************************************************************/
.l-messages {
  padding-top: 15px;
}

/*******************************************************************************
 * Change header alignment
 ******************************************************************************/
.l-header .block-system-main-menu {
  width: 30%;
}

.l-top-inner .row {
  padding-left: 15px;
  padding-right: 15px;
}